{% extends "my_gkp/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'my_gkp/inbox39.js' %}" type="module"></script>
    

{% endblock %}

{% block body %}
<div class="splitblockrow2">
      <!--========================================================================================-->
     <div class="tekst">

    
     <br>
     <br>
     <b>Сайт на якому можна зберігати свої показники лічильників, періоди оплати та суми оплачених коштів
      по різним послугам!
      <br>
      Ваша домашня книга по послугах якою можна скористатися будь де та в будь який час!
    </b>
      <br>
     <br>
     На даний час доступні для використання такі послуги:
     <ul>
         <li>Газопостачання
             <ul>
                 <li>Доставка газу</li>
             </ul>
         </li>
         <li>Електроенергія
            <ul>
                <li>Однозонний</li>
                <li>Двозонний</li>
                <li>Тризонний</li>
            </ul>
         </li>
         <li>Водопостачання</li>
         <li>Квартплата</li>
         <li>Вивезення побутових відходів</li>
         <li>Інтернет</li>
     </ul>
     </div>
     <!--========================================================================================-->
     <div class="copyright">
        © 2022-2022 Bokiss Software Foundation
     </div>

    </div>

{% endblock %}